.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: calc(33.33% - 40px);
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: column; /* Set the card content in a vertical layout */
    height: 100%; /* Add this property to ensure cards have the same height */
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }