$portfolio-text-color: rgb(200,200,200);
$layout-breakpoint-small: 960px;

.card-box-bg{
  position: fixed;
  top: 0;
  left:0;
  width:100vw;
  height: 100vh;
  overflow:hidden;
  opacity: 0.2;
  z-index: -1;
  div{
    position: absolute;
    top: 0;
    left:0;
    width:100vw;
    height: 100vh;
    opacity: 0;
    background-position: center;
    background-size: cover; 
    filter: blur(10px);
    scale: 1.1;
  }
}

.card-box{
  width:100vw;
  display:flex;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  .card-container{
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    //margin: auto;
    gap: 32px;
    width: 100%;
    justify-content: center;
    padding: 16px;
    //align-items: center;

    .card{
      width: 64px;
      height: 420px;
      overflow: hidden;
      background-color: black;
      position: relative;
      border-radius: 16px;
      cursor: pointer;
      -webkit-box-shadow: 0px 9px 21px -5px rgba(0,0,0,0.2); 
      box-shadow: 0px 9px 21px -5px rgba(0,0,0,0.2);
    }
    .card-info{
      display: flex;
      flex-direction: column;
      position: absolute;
      left:0;
      color: $portfolio-text-color;
      opacity: 0;
      padding:24px 0 0 24px;
      width: 200px;
      transform: translateX(-300px);
      //font-family: 'Noto Sans', sans-serif;
      //font-family: 'Nunito', sans-serif;
      h1{
        margin: 0;
        font-family: 'Bebas Neue', sans-serif;
        line-height: 0.9;
        font-size: 29px;
        opacity: 0.8;
      }
      p{
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        font-size: 14px;
        opacity: 0.8;
      }

    }
    .card-icon{
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0;
      svg{
        width: 16px;
        height: 16px;
        margin: 12px 16px;
      }
    }
    .card-bg{
      position: absolute;
      top:0;
      height:100%;
      width: 100%;
      background-position: center;
      background-size: cover;
      opacity: 0.4;
    }
    .card-title-container{
      width:calc(100% - 48px);
      height: 100%;
      color: $portfolio-text-color;
      display: flex;
      justify-content: center;
      align-items: end;
      position: absolute;
      z-index: 9;
      margin-left: 24px;
      margin-right: 24px;
      .card-title{
        width:100%;
        max-width: 900px;
        padding-bottom: 32px;
        opacity: 0;
        transform: translate(0px, 50px);
        h1,h2,p{
          margin:0;
        }
        h1{
          font-family: 'Bebas Neue', sans-serif;
          font-size:100px;
          line-height: 0.82;
        }
        h2{
          font-family: 'Nunito', sans-serif;
          font-weight: 300;
          font-size: 18px;
          margin-bottom:8px;
        }
        p{
          font-family: 'Nunito', sans-serif;
          font-weight: 200;
          font-size: 20px;
        }
      }

    }
  }
}

.card-img{
      &.img-1 {
      background-image: url('https://cdna.artstation.com/p/assets/images/images/064/997/942/large/aurelien-segeat-mabille-03.jpg');
    }
    &.img-2 {
      background-image: url('https://cdna.artstation.com/p/assets/images/images/064/928/830/large/raphaelle-deslandes-rd-liminalmountains01-small.jpg?1689093836');
    }
    &.img-3 {
      background-image: url('https://cdnb.artstation.com/p/assets/images/images/064/246/083/large/alariko-img-4889.jpg?1687450539');
    }
    &.img-4 {
      background-image: url('https://cdna.artstation.com/p/assets/images/images/065/207/090/4k/vertigo-studios-10000-9.jpg?1689783809');
    }
}

.nav-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  position:flex;
  z-index: 99;
  .nav-container{
    display:flex;
    padding: 32px 42px;
    :first-child{
      margin-right: auto;
    }
    p,a,i{
      margin:0;
      text-decoration:none;
    }
  }
}

.portfolio-content-box{
  display:flex;
  justify-content: center;
  width:100%;
  margin-top: 436px;
  height:100vh;
  .portfolio-content{
    //padding-top: 520px;
    //padding-bottom: 128px;
    width:100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    overflow-y:auto;
    height: calc(100vh - 436px);
    opacity:0;
    transform: translate(0px, 400px);
    padding-right: 24px;
    margin-left: 40px;
    margin-right: 16px;
    > :first-child{
      margin-top: 64px;
    }
    > :last-child{
      margin-bottom: 64px;
    }
    .portfolio-container{
      display:flex;
      gap: 32px;
      @media (max-width: $layout-breakpoint-small) {
        flex-wrap: wrap;
        gap: 64px;
      }
    }
    .portfolio-section{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    h1{
      margin:0;
      font-size: 60px;
      font-family: 'Bebas Neue', sans-serif;
      line-height:1;
    }
    p{
      margin:0;
      font-weight: 200;
    }
  }
}

.portfolio-button-round{
  color:$portfolio-text-color;
  background-color: rgb(255,255,255,0);
  backdrop-filter: blur(10px);
  padding: 4px 16px;
  border: 1px solid white;
  border-radius: 16px;
  display: flex;
  gap: 6px;
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: rgb(255,255,255,0.1);
  }
  //font-size: 16px;
  svg{
    margin: auto 0px;
  }
}

body{
  background-color: #171717;
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: $portfolio-text-color;
  overflow: hidden;
  letter-spacing: 2px;
}

.portfolio-details{
  position: fixed;
  bottom: 0;
  left: 0;
  width:100vw;
  position:flex;
  z-index: 99;
  font-size: 10px;
  .portfolio-details-container{
    display:flex;
    padding: 16px 42px;
    :first-child{
      margin-right: auto;
    }
    p,a,i{
      margin:0;
      text-decoration:none;
    }
  }
}

.portfolio-title{
  position: absolute;
  top: max(5%, 80px);
  left: 50%;
  transform: translateX(-50%);
  h1{
    margin:0;
    color: $portfolio-text-color;
    //text-align: center;
    font-family: Bebas Neue;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 58px */
    letter-spacing: 10.73px;
  }
  h2{
    margin:0;
    color: $portfolio-text-color;
    //text-align: center;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 100%; /* 22px */
    letter-spacing: 8px;
  }
}


.custom-scrollbar{
  scrollbar-width: thin;
   /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.2);
    border-radius: 32px;
    cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.4);
  } 
}